
.container{
top: 144px;
left: 400px;
width: 544px;
height: 797px;
/* UI Properties */
background: #F8F4F9 0% 0% no-repeat padding-box;
border: 1px solid #1F343E;
border-radius: 16px;
opacity: 1;
color: #1F343E;
}
.titleContainer{
    
}
