$base-color: #FFFFFF;
$font-color: #434A54;
$on-hover: #4EB3E3;

.container{
    background-color: $base-color;
    display: flex;
    align-items: center;
    color: $font-color;
    width: 100%;
    height: 10vh;
    
}
.logoContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.menuItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: $font-color;
    opacity: 1;
}
.menuItem div:hover{
    color: $on-hover;
}
.menuContainer button{
    border: none;
    background-color: transparent;
}
.menuContainer{
    display: none;
}

@media only screen and (max-width: 600px) {
    .menuItem{
      display: none;
    }
    .menuContainer{
      display: block;
    }
    .logoContainer{
        justify-content: space-between;
    }
    .mobileHeader{
        width: 100%;
        height: 25%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        background-color: #FFFFFF;
        border: 1px solid black;
        padding: 20px;
        
    }
    .linkContainer {
        margin-bottom: 10px;
    }
  
    .mobileCotainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .closeContainer button{
        border: none;
        background: transparent;
    }
  }
  @media only screen and (min-width: 1200px) {
    .menuContainer button{
        display: none;
    }

  }