$on-hover: #4EB3E3;
$font-color: #1F343E;

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.imgContainer{
    width: 150px;
    height: 90px;
}
.container h5{
    color: $on-hover;
    margin-bottom: -13px;
}
.container h4{
    font-family: cursive;
    color: $font-color;
    margin-bottom: -5px;
}
.container p{
    color: $font-color;
    font-size: 12px;
}
.coinsDiv{
    margin-left: 25px;
}
.bigScreenView{
    display: block;
}
.smallScreenView{
    display: none;
}
@media only screen and (max-width: 600px) {
    .container{
        display: block;
        text-align: center;
    }
    .imgContainer {
        width: 100%;
        height: 90px;
        justify-content: center;
    }
    .bigScreenView{
        display: none;
    }
    .smallScreenView{
        display: block;
        font-size: 15px;
    }
    .container h4{
        font-family: cursive;
        color: $font-color;
        margin-bottom: -5px;
        font-size: 20px;
    }
    
}
