.container{
    background-color: #45565E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    margin: 8px 6px;
    border: 1px solid #1F343E;
    border-radius: 13px;
    box-sizing: border-box;
    flex-direction: row;
}
.smallFont{
    font-size: 12px;
}
.bigFont{
    font-size: 13px;
}
.starContainer{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.textContainer{
    margin-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
}